

body {
    background-color: rgb(0, 125, 253); /* darkest blue */
    text-align: center;
    /*color: rgba(52, 152, 219, 1.0);!*light blue*!*/
    font-size: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
    color: rgba(52, 152, 219, 1.0); /*light blue*/
}