
{% extends "Base.html" %}

{% block main %}
    <body>
        <nav>
            <div>
                <p>Session Page</p>
            </div>
            <div class="navbar-links">
                <a href="/Session">Sessions</a>
                <a href="/images">Images</a>
                <a href="/">Home</a>
            </div>
        </nav>
    </body>

    <br>
    <br>
    <br>
    <br>
    <br>

    <form class="myform" method="post" action="/upload" enctype="multipart/form-data">
    <div class="sessionbox">

        <div class="form-label"> Enter Name </div>
        <div class = "form-element "> <input type="text" name = "Name" required ></div>

        <div class="form-label"> Enter address </div>
        <div class = "form-element "> <input type="text" name = "Address" required ></div>

        <div class="form-label"> choose a filament </div>
        <div class = "form-element ">
                    <select name = "Filament" >
                        <option filament="PLA">PLA</option>
                        <option filament="ABS">ABS</option>
                        <option filament="PETG">PETG</option>
                        <option filament="TPU">TPU</option>
                        <option filament="Nylon">Nylon</option>
                    </select>
                </div>

        <div class="form-label"> Enter size </div>
        <div class = "form-element "> <input type="text" name = "Size" required ></div>

        <div class="form-label"> Enter fbx </div>
        <input type="file" name="Model_File" accept = ".fbx" rows="5" cols="50" required>
        <br>
        <br>
        <input type="submit" value= "Upload">

    </div>

{% endblock %}